<style>
html, body {
  font-family:"Helvetica Neue", Arial, sans-serif;
}
.hero-title {
  font-size:4em;
  font-weight:300;
  text-align:center;
}
.hero-desc {
  text-align:center;
  font-weight:300;
}
</style>
