<style>
html, body {
  font-family:'Nunito', Arial, sans-serif;
}
.hero {
  background-image:url("/images/hero-bg.png");
  height:500px;
  width:100%;
    margin:0px!important;
    color:white;
  margin-top:0px!important;
  padding:0px!important;
}

.hero-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-title {
  font-size:4em;
  font-weight:600;
  text-align:center;
}
.hero-desc {
  text-align:center;
  font-weight:400;
}
</style>
