<style>
html, body {
  font-family:'Nunito', Arial, sans-serif;
}
.hero {
  background-image:url("/images/hero.jpg");
  height:500px;
  width:100%;
    margin:0px!important;
    color:white;
}
.hero-title {
  font-size:4em;
  font-weight:600;
  text-align:center;
}
.hero-desc {
  text-align:center;
  font-weight:400;
}
</style>
